body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #c29898;
}
.container {
    background-color: #f2f2f2;
    width: 300px;
    padding: 10px;
    border-radius: 5px;
}

button {
    color: rgba(192, 106, 7, 0.952);
}

.title {
    text-align: center;
    color: #a04901;
}

.new-item {
    display: flex;
    margin: 0;
    justify-content: space-between;
}

.todo-list {
    list-style: none;
    margin: 10px 0 0;
    padding: 5px;
    height: 300px;
    overflow: auto;
}

.todo-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.todo-item + .todo-item {
    margin-top: 2px;
    border-top: 1px solid #c29898;
    padding-top: 2px;
}